$primary-text-color: #757575;
$primary-White-Color: #ffffff;
$secondary-white-color: #f5f4fa;
$primary-black-color: #212121;
$seconadary-black-color: #000000;
$primary-accent-color: #2196f3;
$secondary-accent-color: #1f84d7;
$bgcColor: #2f303a;
$button-bgc-color: #eeeeee;
$header-border-color: #ececec;

$time-function: cubic-bezier(0.4, 0, 0.2, 1);

$bgc-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));